<div class="content-wrapper container-xxl overflow-hidden p-0">
  <!-- <app-content-header [contentHeader]="contentHeader"></app-content-header> -->
  <div class="content-wrapper">
    <div class="content-body">
      <!-- <div class="profile-container">
        <div class="empresa-cover">
          <img [src]="faixa" alt="capa">
        </div>
        <div class="empresa-logo">
          <img [src]="avatar" alt="perfil">
        </div>
        <div class="empresa-info">
          <h2>{{ empresa?.nome }} - {{ estabelecimento?.nome }}</h2>
          <p>@{{ localizador?.nome }}</p>
        </div>
      </div> -->
      <div class="d-flex align-items-center my-2" *ngIf="localizador">
        <img src="assets/images/ecommerce/localizador.png" width="32" height="32" alt="modalidade">
        <span class="font-medium-3">{{ localizador?.modalidade?.nome }} {{ localizador?.codigo }}</span>
      </div>
      <div class="categorias">
        <div class="categoria" *ngFor="let categoria of cardapio.categorias">
          <img class="categoria-imagem mr-1" [src]="categoria.imagem" alt="categoria" />
          <a (click)="irPara(categoria.id)">
            {{categoria.nome}}
          </a>
        </div>
      </div>
      <section [id]="categoria.id" *ngFor="let categoria of cardapio.categorias">
        <div class="categoria-titulo mt-2">
          <img class="categoria-imagem mr-1" [src]="categoria.imagem" alt="item" />
          <h4 class="my-1" [id]="categoria.id">{{categoria.nome}}</h4>
        </div>
        <div ngClass="item-container">
          <div class="card item-card" *ngFor="let item of categoria.itens">
            <div class="img-wrapper">
              <img class="img-responsive" [src]="item.imagem" alt="Produto">
            </div>
            <div class="card-body">
              <div class="item-apresentacao">
                <div class="item-apresentacao-esquerda">
                  <span class="font-medium-1">{{item.nome}}</span>
                </div>
                <div class="item-apresentacao-direita">
                  <span class="font-medium-1 font-weight-bold">{{formataValor(item.valor)}}</span>
                  <span class="font-1 text-muted font-weight-bold"><del>{{item.valorOriginal ? formataValor(item.valorOriginal) : ''}}</del></span>
                </div>
              </div>
              <div>
                <p class="card-text item-descricao">
                  {{item.descricao}}
                </p>
              </div>
            </div>
            <div class="card-footer text-center">
              <a
                href="javascript:void(0)"
                class="btn btn-primary btn-cart"
                (click)="sacolaAdiciona(item)"
                rippleEffect
              >
                <i data-feather="shopping-bag" class="mr-25"></i>
                <span class="add-to-cart">Adicionar</span>
              </a>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>