PORT=3000
GOOGLE_CLIENT_ID=610456046637-h2s9nfskkg8jad5t2jpi1lg5t3n0b509.apps.googleusercontent.com
JWT_SECRET=troque-por-um-segredo-forte
JWT_EXPIRES_IN=8h
MONGODB_URI=mongodb+srv://USUARIO:SENHA@CLUSTER.mongodb.net/constelshop?retryWrites=true&w=majority
CORS_ORIGINS=http://localhost:4300,http://localhost:4200
